main.css
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


header {
  background-color: #1E90FF;
  color: white;
  font-family: Marker Felt, fantasy;
  padding: 15px;
  
}

nav {
  display: flex;
  color: white;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: center;
  height: 5px;
  
}

.hidden {
	display: none;
}
.hidden {
	display: none;
}
#modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: solid 1px #38383d;
	border-radius: 5px;
	z-index: 1;
}
#modal h2 {
	font-family: Marker Felt, fantasy;
	letter-spacing: 2px;
	margin-top: 5px;
}
#modal input {
	width: 90%;
	margin: 5px -5px;
	padding: 8px;
	border: solid .5px #38383d;
	border-radius: 4px;
	border: solid .5px #38383d;
}

#say-hi-text {
	height: 75px;
	resize: none;
}

#modal button {
	width: 95%;
	padding: 8px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}

#submit {
	background-color: #1E90FF;
	color: white;
}
#submit:hover {
	background-color: #1E90FF;
}
 

header a {
  color: white;
  margin: 10px;
  
}

header {
  background-color: #1E90FF;
  color: white;
  font-family: Marker Felt, fantasy;
  padding: 10px;
  
}

h1 {
  margin: 0;
}

p {
  color: black;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  font-stretch: extra-expanded;
  letter-spacing: .5px;
 
}
img {
  opacity: 0.5;
}

.robloxprofile {
	border: solid 3px #fdd68b;
	height: 30px;
	width: 30px;
	margin-left: 10px;
}
.robloxprofile:hover {
	transform: rotate(90deg);
	transition: transform .4s ease-in-out;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
  
}


h3 {
  font-size: 15px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  text-align: center;
  font-stretch: extra-expanded;
  letter-spacing: .5px;
   
  
}

 grid {
  display: grid;
  text-align: center;
  margin: 50px auto;
  height: 60vh;
  max-width: 1600px;
  height: 100vh;
  justify-content: space around;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  flex-direction: column;
  row-gap: 40px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "roblox animation scratch";
}
    
 .roblox {
  grid-area: roblox;
  font-size: 20px;
  background-color: #FFFAFA;
  font-family: Marker Felt, fantasy;
     
      
   } 
   
 .animation {
  grid-area: animation;
  font-size: 20px;
  background-color: #FFFAFA;
  font-family: Marker Felt, fantasy;
   
   }
     
  .scratch {
  grid-area: scratch;
  font-size: 20px;
  background-color: #FFFAFA;
  font-family: Marker Felt, fantasy;
     
     
 }

footer {
  padding: 30px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #1E90FF;
  color: white;
  font-family: Marker Felt, fantasy;
  text-align: center;
   
}
  
  